.sitenews-editor {
    textarea, input[type=text] {
        box-sizing: border-box;
        width: 100%;
    }
    textarea {
        height: 200px;
    }
    .multi-checkbox-required label:not([for]) {
        display: inline-block;
    }
}
.sitenews-widget {
    .widget-tabs {
        margin: -10px -10px 10px;

        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid var(--base-color-20);
            border-left: 0;
            border-right: 0;
        }
        li {
            flex-grow: 1;
            font-size: 0.9em;
            border-right: 1px solid var(--base-color-20);
            text-align: center;

            &:last-child {
                border-right: 0;
            }

            &.current {
                background-color: fade-out($base-color-20, 0.2);
                a {
                    color: #000;
                }
            }
        }
    }

    article.studip header > nav > * {
        max-height: none;
    }

    [data-active="false"] {
        transition: opacity var(--transition-duration, 300ms);

        header > nav {
            transition: all var(--transition-duration, 300ms);
            max-height: 1000px;

            overflow: hidden;
        }

        &:not(:hover) {
            opacity: 0.5;

            header > nav {
                max-height: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }
}

table.group-administration {
    &:not(.ui-sortable) {
        thead th:first-child,
        tbody td:first-child {
            display: none;
        }
    }
    td {
        background-color: var(--white);
    }
    input[type="text"] {
        max-width: none;
        width: 100%;
    }
    .ui-sortable-helper td {
        background-color: var(--white) !important;
    }
    .placeholder {
        $gap: 3px;

        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: $gap;
            right: $gap;
            bottom: $gap;
            left: $gap;
            border-radius: 2px;
            border: 1px dashed var(--light-gray-color-60);
        }

        td {
            background-color: var(--light-gray-color-20);
            height: 43px;
        }
    }
}
